.members-container {
  background-color: #222831;
  border-radius: 5px 5px 5px 0px;
  color: white;
}
.member {
  display: grid;
  grid-template-columns: 50px 1fr 50px 50px;
  grid-template-rows: 2.5rem;
  overflow-wrap: anywhere;
  position: relative;
}
.member > * {
  align-self: center;
  justify-self: center;
}
.member h4 {
  justify-self: left;
}
.member-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.add-member {
  background-color: #222831;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 2.2rem;
  width: 12rem;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 30px;
}

.add-member > * {
  align-self: center;
  justify-self: center;
}
.add-member > *:hover {
  opacity: 0.8;
  cursor: pointer;
}
.add-member h5 {
  justify-self: left;
  color: white;
}
.add-member-team-id {
  border-radius: 5px;
  background-color: #222831;
  color: white;
  padding: 2% 4%;
  text-align: center;
}
.admin-name:hover {
  opacity: 0.9;
  cursor: pointer;
}
.admin-status {
  background-color: #393e46;
  color: white;
  width: max-content;
  padding: 0.4rem;
  position: absolute;
  bottom: 2.5rem;
  right: 0rem;
  border-radius: 5px;
  text-align: right;
  display: flex;
  flex-direction: row;
}
.admin-status h6 {
  margin: auto 0;
}
@media only screen and (max-width: 700px) {
  .member h4 {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
